.title-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 120px;
    
}

.title-header #project-title {
    position: absolute;
    left: 10px;
    top: 4%;
    height: 80px;
    
    padding-left: 10%;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
	
}

.title-header #github-button {
    
    position: absolute;
    border-radius: 4%;
    top: 13%;
    right: 5%;
	background-color: rgb(236, 233, 233);
	color: rgb(31, 31, 31);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 10px 24px;
    
}