h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-align: left;
    
}

h3 {
    font-family: 'Roboto', sans-serif;
    
    font-size: 20px;
    text-align: left;
    padding-top: 2%;
}
.topic {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: left;
}

ul {
    list-style-type: disc;
}

.introduction-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.introduction-text {
    width: 500px;
    flex-shrink: 0;
}
#intro-video {
    min-width: 200px;
    max-width: 500px;
}
