.App {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.bold {
	font-weight: bold;
}


.display-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: scroll;
}

#buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 0.75em;
}

button {
	flex-basis: 15%;
	background-color: rgb(14, 131, 248);
	border: none;
	border-radius: 4px;
	
	margin-right: 25px;
	
	margin-left: 50px;
	color: white;
	text-align: center;
	padding: 0.75em 1.5em;
	font-family: 'Lato', sans-serif;
    font-size: 15px;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
}

button:hover {
	background-color: rgb(62, 155, 248);
}

button:disabled {
	background-color: rgb(119, 111, 110);
	opacity: 0.2;
	cursor: not-allowed;
}

.header-wrap {
	background: rgba(241, 241, 241, 0.877);
	height: 180px;
	z-index: 0;
}

#entire-introduction {
	background: #202327;
}

#introduction-text {
	width: 49%;
	padding: 40px;
}

.visualization {
	max-width: 40%;
	padding: 5%;
}

.sensor-text {
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size: 14px;
	text-align: center;
	color: lightgray;
}

.demo-text {
	width: 49%;
	padding: 3%;
	text-align: left;
}

@media only screen and (max-width: 897px) {
    button {
		flex-basis: 15%;
		background-color: rgb(14, 131, 248);
		border: none;
		border-radius: 4px;
		
		margin-right: 0.33em;
		
		margin-left: 0.33em;
		color: white;
		text-align: center;
		padding: 10px 15px 10px 15px;
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		display: inline-block;
		cursor: pointer;
		z-index: 1;
	}
}

@media only screen and (max-width: 897px) {
	html {
		width: 100%;
		overflow-x: hidden;
	}
    #buttons {
		display: inline-block;
		margin-top: 2.5em;
	}
}

@media only screen and (max-width: 415px) {
	.demo-text {
		width: 80%;
		padding: 3%;
		margin-left: 1em;
		text-align: left;
	}
}

@media only screen and (max-width: 370px) {
    button {
		flex-basis: 15%;
		background-color: rgb(14, 131, 248);
		border: none;
		border-radius: 4px;
		margin-right: 0.25em;
		margin-left: 0.25em;
		color: white;
		text-align: center;
		padding: 0.75em 1.5em 0.75em 1.5em;
		font-family: 'Lato', sans-serif;
		font-size: 10px;
		display: inline-block;
		cursor: pointer;
		z-index: 1;
	}
}