.Cell0 {
	height: 25px;
	width: 25px;
	background-color: LightGrey;
	border-style: solid;
	float: left;
}

.Cell1 {
	height: 25px;
	width: 25px;
	background-color: Red;
	border-style: solid;
	float: left;
}