.Cell0 {
	height: 25px;
	width: 25px;
	background-color: LightGrey;
	border: 1px solid black;
	float: left;
}

.Cell1 {
	height: 25px;
	width: 25px;
	background-color: Red;
	border: 1px solid black;
	float: left;
}